
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <style>
        .myview {
            margin-bottom: 4px;
        }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>David C.Y. Chu<br/>(朱崇亞)</h1>

         <img src="me.jpg" alt="Logo" width="50%" />

        <p style="margin-top: 16px; margin-bottom: 16px;">EECS PhD, UC Berkeley (since Fall 2020) <br/> Computer Science B.S., Cornell University (Dec 2019)</p>

        <p class="myview"><a href="https://scholar.google.com/citations?user=7USKEJwAAAAJ&hl=en">Google Scholar</a></p>
        <p class="myview"><a href="https://github.com/davidchuyaya">GitHub</a></p>
        <p class="myview"><a href="https://docs.google.com/viewer?url=https://docs.google.com/document/d/1oZ8qqCvXfJUhQ5LPVVmh1qrv9hrbS2k187Py75Q-zuA/export?format=pdf">CV</a></p>
        <p class="myview"><a href="mailto:thedavidchu@berkeley.edu">Email</a></p>
        <p class="myview"><a href="https://www.youtube.com/channel/UCTN5jkopaVtABbd5nTuBFvA">YouTube Channel</a></p>
        <p class="myview"><a href="https://twitter.com/davidchuyaya">Twitter</a></p>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
