<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>David C.Y. Chu（朱崇亞）</h1>

         <img src="me.jpg" alt="Logo" />

        <p>EECS PhD, UC Berkeley (since Fall 2020)\n
Computer Science B.S., Cornell University (Dec 2019)</p>

        <p class="view"><a href="https://scholar.google.com/citations?user=7USKEJwAAAAJ&hl=en">Google Scholar</a></p>
        <p class="view"><a href="https://github.com/davidchuyaya">GitHub</a></p>
        <p class="view"><a href="https://docs.google.com/viewer?url=https://docs.google.com/document/d/1oZ8qqCvXfJUhQ5LPVVmh1qrv9hrbS2k187Py75Q-zuA/export?format=pdf">CV</a></p>
        <p class="view"><a href="mailto:thedavidchu@berkeley.edu">Email</a></p>
        <p class="view"><a href="https://www.youtube.com/channel/UCTN5jkopaVtABbd5nTuBFvA">YouTube Channel</a></p>
        <p class="view"><a href="https://twitter.com/davidchuyaya">Twitter</a></p>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
